.playlist__main__div {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.playliBox__div {
  margin-top: 20px;
  padding: 5px 10px;
}
.playlist__h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 24px;
}
